flow 3.json
[
    {
        "id": "644245e3b320f327",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fbdd9f58702d4d41",
        "type": "serial in",
        "z": "644245e3b320f327",
        "name": "",
        "serial": "58430f06.f23e4",
        "x": 137.5173568725586,
        "y": 193.7500286102295,
        "wires": [
            [
                "0edd38c44af53754",
                "46bb3db1df79dfb7"
            ]
        ]
    },
    {
        "id": "0edd38c44af53754",
        "type": "function",
        "z": "644245e3b320f327",
        "name": "Temp",
        "func": "\nvar temp1= msg.payload[6]-48;\nvar temp2= msg.payload[7]-48;\nvar temp3= msg.payload[9]-48;\nvar temp4= msg.payload[10]-48;\n\nvar result = (temp1*1000)+ (temp2*100) + (temp3*10) + temp4; \nresult = result/100;\n\nvar result1 = {payload:result};\n\nreturn[result1];",
        "outputs": 1,
        "noerr": 0,
        "x": 307.07645416259766,
        "y": 92.56599521636963,
        "wires": [
            [
                "6953177ac9103457",
                "51c0ee4d99802149",
                "d12555735e02ba0d"
            ]
        ]
    },
    {
        "id": "6953177ac9103457",
        "type": "debug",
        "z": "644245e3b320f327",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 581.3498992919922,
        "y": 37.79081916809082,
        "wires": []
    },
    {
        "id": "46bb3db1df79dfb7",
        "type": "function",
        "z": "644245e3b320f327",
        "name": "Humidity",
        "func": "var hum1= msg.payload[0]-48;\nvar hum2= msg.payload[1]-48;\nvar hum3= msg.payload[3]-48;\nvar hum4= msg.payload[4]-48;\n\nvar result = (hum1*1000)+ (hum2*100) + (hum3*10) + hum4; \nresult = result/100;\n\nvar result1 = {payload:result};\n\nreturn[result1];",
        "outputs": 1,
        "noerr": 0,
        "x": 315.0911521911621,
        "y": 286.6883945465088,
        "wires": [
            [
                "103d7620caee15aa",
                "3b5da0a97305704e",
                "ce2d2da24e541779"
            ]
        ]
    },
    {
        "id": "103d7620caee15aa",
        "type": "debug",
        "z": "644245e3b320f327",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 582.6041069030762,
        "y": 361.12417221069336,
        "wires": []
    },
    {
        "id": "51c0ee4d99802149",
        "type": "ui_gauge",
        "z": "644245e3b320f327",
        "name": "Temp",
        "group": "63b04061fc8ea72a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "",
        "format": "{{value}} °C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570.0998001098633,
        "y": 99.71789360046387,
        "wires": []
    },
    {
        "id": "3b5da0a97305704e",
        "type": "ui_gauge",
        "z": "644245e3b320f327",
        "name": "Humidity",
        "group": "d5da3e9b.46abf",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 583.8411865234375,
        "y": 288.4635429382324,
        "wires": []
    },
    {
        "id": "d12555735e02ba0d",
        "type": "ui_chart",
        "z": "644245e3b320f327",
        "name": "Temperature Last Hour",
        "group": "63b04061fc8ea72a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature Last Hour",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ce2d2da24e541779",
        "type": "ui_chart",
        "z": "644245e3b320f327",
        "name": "Humidity Last Hour",
        "group": "d5da3e9b.46abf",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidity Last Hour",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "58430f06.f23e4",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "bin",
        "out": "char",
        "addchar": "false",
        "responsetimeout": ""
    },
    {
        "id": "63b04061fc8ea72a",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "784aac14.5c2404",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d5da3e9b.46abf",
        "type": "ui_group",
        "name": "DHT11",
        "tab": "784aac14.5c2404",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "784aac14.5c2404",
        "type": "ui_tab",
        "name": "Smart Compost Bin Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]